<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="font-bold text-4xl">Modifier évaluation</h1>

  <%= render "form", evaluation: @evaluation %>

  <%= link_to "Voir", @evaluation, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Retour", evaluations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
