<h1 class="text-4xl">Modifier Présence</h1>

<%= render 'form', presence: @presence %>

<%= link_to 'Voir', @presence, class: 'text-primary hover:underline' %> |
<%= link_to 'Retour', presences_path, class: 'text-primary hover:underline' %>
