<br>
<p class="h3">
    Dossier déposé avec succès. Merci.
</p>
<br>

<p>
    Déposé le: <%= l DateTime.now.to_date %>
</p>

<p>
    Référence: <%= @dossier.slug %> 
</p>

<p class="alert alert-info">
    Votre gestionnaire va traiter votre dossier dans les meilleurs délais.
    Vous pouvez maintenant fermer cette fenêtre.
</p>