<br>
<p class="h3 mb-4">
    Dossier déposé avec succès. Merci.
</p>
<br>

<p class="mb-4">
    Déposé le: <%= l DateTime.now.to_date %>
</p>

<p class="mb-4">
    Référence: <%= @dossier.slug %> 
</p>

<p class="alert alert-info mb-4">
    Votre gestionnaire va traiter votre dossier dans les meilleurs délais.
    Vous pouvez maintenant fermer cette fenêtre.
</p>