<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2>
    <%= fa_icon 'envelope' %> Notification planning
    <br>
    <small>Envoyer aux intervenants la liste de leurs cours du mois prochain</small>
  </h2>
</div>
<br>

<%= form_tag({action: "notifier_intervenants_do", method: :post}) do %>
    <div class="form-group">

        <%= check_box_tag :draft, "1", true %> Mode DRAFT (Visualisation uniquement. Pas d'envoi de mails)  
        <br /><br />

        <div class="actions">
            <%= submit_tag "Envoyer", class: "btn btn-success" %>
        </div>
    </div>
<% end %>