<div class="border-b mt-6 mb-2 pb-4">
  <h2 class="text-3xl">
    <%= fa_icon 'calendar' %> Nouvelle saison RH
    <br>
    <small>Envoi des dossiers pour l'année universitaire <%= AppConstants::PÉRIODE %></small>
  </h2>
</div>


<pre>
	<%= simple_format(@stream) %>
</pre>
