<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2>
    <%= fa_icon 'calendar' %> Réservations en masse
    <br>
    <small>Réservation de créneaux horaires sur toute une année scolaire</small>
  </h2>
</div>
<br>

<% if @errors.any? %>
  <% @errors.each do |error| %>
    <b><%= l(error.first, format: :perso) %></b>
    <%= simple_format error.last[:cours].last %>
  <% end %>
  <br>
<% end %>

<% if @ids_ok.any? %>
  <%= link_to 'Afficher les cours créés', cours_path(ids: @ids_ok) %>
<% end %>
