<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl"><%= fa_icon 'signature' %> Synchronisation automatique Edusign </h1>
</div>
<br>

<div>
  <h4 class="text-xl">
    Cette fonction analyse les <b>changements intervenus dans le Planning IAE</b> durant les dernières <b>24 heures</b> pour <b>les appliquer dans Edusign</b>
    (ajout/modification des cours/intervenants/formations/étudiants et les suppression de cours).
    <br>
  </h4>
</div>
<br>

<%= form_tag({action: "synchronisation_edusign_do", method: :post}) do %>

  <div class="flex flex-wrap">
    <div class="sm:w-1/3">
      <%= submit_tag "Lancer la synchronisation", class: "btn btn-primary text-white", data: {turbo_confirm: 'Confirmez-vous vouloir démarrer la synchronisation ?'} %>
    </div>
  </div>

<% end %>