<p>
  Bonjour <%= @invit.intervenant.prenom_nom %>,
  <br><br>
  Vous avez reçu une invitation (proposition de créneaux horaires) pour un ou plusieurs cours.
  <br><br>
  <%= @invit.msg %>
  <br><br>
</p>
<%= button_to 'Voir mes invitations', invitations_intervenant_url(@invit.intervenant) %>