<p>
    Bonjour <%= @gestionnaire.prénom_et_nom %>,
    <br><br>
    Vous avez de nouvelles réponses à traiter  <br><br>
    <br><br>
</p>
<%= link_to 'Voir les réponses', invits_url, style:'margin-top: 30px' %>