<p>
    Bonjour <%= @gestionnaire.nom_et_prénom %>,
    <br><br>
    Vous avez de nouvelles invitations à traiter  <br><br>
    <br><br>
</p>
<%= button_to 'Voir les invitations', invits_url, style:'margin-top: 30px' %>