<div class="flex items-center justify-between border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl"><%= fa_icon 'user-md' %> Liste des activités</h1>
  <% if policy(VacationActivite).new? %>
    <%= link_to new_vacation_activite_path, class: 'text-primary' do %>
      <%= fa_icon 'plus-circle' %> Activité
    <% end %>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="table">
    <thead class="bg-slate-100 border">
      <tr>
        <th>Nature activité</th>
        <th>Type activité</th>
        <th>CEV Enseignant</th>
        <th>CEV Titulaire</th>
        <th>CEV Salarié</th>
        <th>PERMANENT</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @vacation_activites %>
    </tbody>
  </table>
</div>
