<div class="mb-12">
  <div class="flex items-center justify-between border-b mt-6 mb-2 pb-4">
    <h1 class="text-3xl"><i class="far fa-lightbulb"></i> Mémos</h1>
    <% if policy(Note).new? %>
      <button onclick="my_modal_memo.showModal()" class="text-primary">
        <%= fa_icon 'plus-circle' %> Mémo
      </button>
    <% end %>
  </div>

  <div id="notes" class="flex flex-wrap gap-8 mt-12">
    <%= render @notes %>
  </div>

  <dialog id="my_modal_memo" class="modal bg-white w-96 mx-auto h-96 my-auto px-4 shadow-2xl">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <%= render "form", note: @note %>
  </dialog>
</div>