<div class="pb-2 mt-4 mb-2 border-top">
  <% if current_user.admin? %>
    <div class="btn-group float-right">
      <%= link_to fermetures_path, class: 'btn btn-sm btn-outline-primary' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  <% end %>
</div>

<h2>Modification d'un jour de fermeture</h2>

<%= render 'form' %>
