<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="flex items center gap-1 text-3xl">
		<span class="material-symbols-outlined text-3xl">
			co_present
		</span>
		Nouvel intervenant
	</h1>
</div>

<%= render 'form' %>
