<p style="margin-bottom: 0.5rem">
  Bonjour, <br><br>
  Votre cours du <%= l(@cours.debut, format: :long) %> 
  (<%= "#{@cours.nom_ou_ue} - #{@cours.formation.nom}" %>) vient d'être <%= @etat %>.<br><br> 
  Nous reviendrons vers vous à ce sujet prochainement,<br><br> 
  Bien cordialement, <br>
  Business School
</h1>
<p style="margin-bottom: 0.5rem">
  <%= link_to "Voir le planning", root_url(formation_id:@cours.formation_id, start_date:@cours.debut.to_date) %>
</p>