<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  Votre code de vérification pour la double authentification :
  <b><%= @current_otp %></b>
</p>

<p style="margin-bottom: 0.5rem">
  Bien cordialement,
  <br>
  IAE Paris
</p>