<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  Votre code de vérification pour la double authentification est :
  <b><%= @current_otp %></b>
  <br><br>
  Ce code provisoire est valable 5 minutes.
  <br><br>
  Si vous n'êtes pas à l'origine de cette demande, veuillez contacter votre responsable.
</p>

<p style="margin-bottom: 0.5rem">
  Bien cordialement,
  <br>
  IAE Paris
</p>