<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Envoi des notifications terminé</h1>
    <p>
        <%= @envoyes %> mails envoyés
    </p>
  </body>
</html>