<p>
  Restant à votre disposition, vous pouvez nous contacter sur la 
  messagerie <%= mail_to 'cev.iae@univ-paris1.fr' %>.
  <br>
  <br>
  Bien cordialement,
  <br>
</p>

<%= image_tag 'Signature_Marielle_Denis.jpg' %>