<p>
    Bonjour <%= @dossier.intervenant.prenom_nom %>,
    <br><br>
    <b>Votre dossier vient d'être rejeté.</b>
    <br><br>
    Veuillez consulter <%= link_to 'votre dossier en ligne', url_for(dossier_url(@dossier)) %> pour en savoir plus.
</p>

<%= render partial: 'mailer_footer_marielle_denis' %>