<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        Bonjour M., Mme, Mlle <%= @dossier.intervenant.nom %>,
    </p>

    <p>
        <b>Votre dossier vient d'être validé.</b>
    </p>

    <p>
        Restant à votre disposition,
    </p>

    <p>
        Bien cordialement,
    </p>

    <p>
        Marielle DENIS
    </p>

    <p>
        Service des Ressources Humaines
    </p>

    <p>
        Gestionnaire RH
    </p>

  </body>
</html>

