<p>
    Bonjour <%= @dossier.intervenant.prenom_nom %>,
    <br><br>
    <b>Votre dossier d'enseignant vacataire vient d'être validé.</b>
    <br><br>
    Nous sommes ravis de vous accueillir dans l'équipe pédagogique de l'IAE Paris-Sorbonne.
</p>

<%= render partial: 'mailer_footer_marielle_denis' %>

