<% if false && !(user_signed_in?) && current_page?("/users/sign_in") %>
  <footer class="fixed bottom-0 flex justify-center text-secondary py-2 bg-base-100 w-full">
    <p class="mb-0">
      AIKKU SAS - 2024 - Tous droits réservés | 
      <u><%= link_to "Mentions légales", mentions_legales_path, class: 'text-secondary' %></u>
    </p>
  </footer>
<% end %>