<footer class="fixed bottom-0 flex justify-center text-secondary py-2 bg-base-100 w-full">
  <p class="text-center mb-0">
    <b>AIKKU Plann</b> | Développé et maintenu par <%= link_to 'AIKKU (SAS)', 'https://www.aikku.eu/', class: 'hover:underline ' %>
    |
    <%= link_to "Mentions légales", mentions_legales_path, class: 'hover:underline' %>
  </p>
</footer>