<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  Une nouvelle commande vient d'être ajoutée !

  <br><br>
  <%= link_to "Voir toutes les commandes", tools_commandes_url %>
  <br><br>
  Bonne journée
</p>

