<div class="page-header">
	<div class="btn-group pull-right">
	  <%= link_to users_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retour
	  <% end %>
	</div>
  <h1>Nouvel utilisateur</h1>
</div>

<%= render 'form' %>
