<div class="border-b mt-6 mb-2 pb-4">

	<div class="buttons-group float-right">
		<%= link_to users_path, class: 'btn btn-ghost' do %>
			<%= fa_icon 'list-alt', text: ' Retour' %>
		<% end %>
	</div>

	<h3 class="text-3xl"><%= fa_icon 'user' %> Nouvel utilisateur</h3>
</div>

<%= render 'form' %>
