<div class="w-full mt-4">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Dossier etudiants</h1>
    <%= link_to "Nouveau dossier", new_dossier_etudiant_path, class: "btn btn-primary btn-outline hover:!text-white" %>
  </div>

  <div id="dossier_etudiants" class="min-w-full">
    <%= render @dossier_etudiants %>
  </div>
</div>
