<div class="mx-auto md:w-2/3 w-full mt-4">
  <h1 class="font-bold text-4xl">Inscription étudiant</h1>

  <%= render "form", dossier_etudiant: @dossier_etudiant %>

  <%= link_to "Retour", root_path, class: "btn btn-ghost" %>
</div>
