<section id="mention_légales_content">
  <h1 class="text-4xl my-12">
    MENTIONS LÉGALES
  </h1>
  <h2 class="text-xl font-bold mb-6">
    1. Éditeur du site
  </h2>
  <p class="mb-6">
    <strong>IAE Paris-Sorbonne Business School</strong>
    <br><br>
    
    8 bis, rue de la Croix Jarry - 75 644 Paris cedex 13
    <br>
    Tél. 01 44 08 11 60
    <br>

    Siret : 197 500 028 00034 - APE : 8542Z 
    <br>
    Directeur de la publication : Éric LAMARQUE, Directeur de l’IAE Paris-Sorbonne
    <br>
    Contact : <%= link_to "iae-paris.com/nous-contacter", "https://www.iae-paris.com/fr/nous-contacter0", class: 'link' %>
  </p>

  <h2 class="text-xl font-bold mb-6">
    2. Conception et développement
  </h2>
  <p class="mb-6">
    <strong>Philippe NOUGAILLON (Consulting IT)</strong>
    <br><br>
    Pôle de développement de l’entreprenariat 
    de l’EPT Grand Paris Grand Est
    <br>
    106-112 allée Notre Dame des Anges
    <br>
    93370 Montfermeil

    <br><br>
    SIRET : 384 396 719 00047
    <br>
    APE : 5829C
    <br><br>
    Contact : <%= link_to "www.philnoug.com/contact", "https://www.philnoug.com/contact", class: 'link' %>
  </p>

  <h2 class="text-xl font-bold mb-6">
    3. Hébergement
  </h2>
  <p class="mb-6">
    <strong>Heroku Inc</strong>
    <br>
    1 Market St. Suite 300
    <br>
    San Francisco
    <br>
    CA 94105 USA.
    <br>
    Contact : <%= link_to "heroku.com/contact", "https://www.heroku.com/contact", target: '_blank', class: 'link' %>
  </p>
</section>