<section id="mention_légales_content" class="mx-24">
  <h1 class="mb-5">
    MENTIONS LÉGALES
  </h1>
  <h2 class="text-xl font-bold mb-4">
    1. Éditeur du site
  </h2>
  <p class="mb-4">
    <strong>IAE-Paris Panthéon Sorbonne</strong>
    <br>
    Directeur de la publication : Eric Lamarque<br>
    12 Rue Jean Antoine de Baïf<br>
    75013 Paris<br>
    France<br><br>

    SIRET : 197 500 028 00034
    <br>

    Tel : +33 (0)1 44 08 11 60<br>
    <br>
    Contact : <%= link_to "iae-paris.com/nous-contacter", "https://www.iae-paris.com/fr/nous-contacter0" %>
  </p>

  <h2 class="text-xl font-bold mb-4">
    2. Conception et développement
  </h2>
  <p class="mb-4">
    <strong>Studio 'Philnoug & Partners'</strong>
    <br>
    Directeur de la publication : Philippe Nougaillon<br>
    Siège social :<br>
    LE PLATEAU
    <br>
    Pôle de développement de l’entreprenariat 
    de l’EPT Grand Paris Grand Est
    <br>
    106-112 allée Notre Dame des Anges
    <br>
    93370 Montfermeil

    <br><br>
    SIRET : 384 396 719 00047
    <br>
    APE : 5829C
    <br><br>
    Contact : <%= link_to "philnoug.com/contact", "https://www.philnoug.com/contact" %>
  </p>

  <h2 class="text-xl font-bold mb-4">
    3. Hébergement
  </h2>
  <p class="mb-4">
    <strong>Heroku Inc</strong>
    <br>
    1 Market St. Suite 300
    <br>
    San Francisco
    <br>
    CA 94105 USA.
    <br>
    Contact : <%= link_to "heroku.com/contact", "https://www.heroku.com/contact", target: '_blank'%>
  </p>
</section>