<p style="margin-bottom: 0.5rem">
  Bonjour <%= @intervenant.prenom_nom %>,
  <br><br>
  <%= link_to "Veuillez cliquer sur ce lien pour voir et valider les présences de la session en cours", mes_sessions_intervenant_url(presence_slug: @presence_slug) %>
</p>