<h1 style="font-size: 2.25rem; line-height: 2.5rem;">Un nouvel intervenant vient d'être créé</h1>
<dl>
    <dt>Nom:</dt>
    <dd><%= @intervenant.nom %></dd>
    <dt>Prénom:</dt>
    <dd><%= @intervenant.prenom %></dd>
    <dt>Email:</dt>
    <dd><%= @intervenant.email %></dd>
</dl>
<%= link_to "Voir plus de détails", intervenant_url(@intervenant) %>