<p style="margin-bottom: 0.5rem">
    Bonjour <%= @intervenant.nom_prenom %>,
    <br><br>
    Vous avez un examen prévu dans <%= @jours %> jours, le <%= l @debut %>. Veuillez envoyer le sujet de l'examen aux gestionnaires avant la date limite.
    <br>
</p>

<p style="margin-bottom: 0.5rem">
    <b>Vous remerciant par avance du respect des délais et des consignes indiqués ci-dessus,</b>
</p>

<p style="margin-bottom: 0.5rem">
    Bien cordialement,
    <br>
    IAE Paris
</p>