<p style="margin-bottom: 0.5rem">
    Bonjour,
    <br><br>
    Nous vous confirmons la validation de votre sujet pour l'examen du <b><%= l(@debut.to_date, format: :long) %> à <%= l @debut, format: :heures_log %></b>.
    <br>
</p>

<p style="margin-bottom: 0.5rem">
    Bien cordialement,
    <br>
    IAE Paris
</p>