<p style="margin-bottom: 0.5rem">
    Bonjour,
    <br><br>
    Nous vous confirmons la validation de votre sujet pour l'examen du <b><%= l(@debut.to_date, format: :long) %> à <%= l @debut, format: :heures_log %></b>, prévu dans <b><%= @jours %> jours</b>.
    <br>
</p>

<p style="margin-bottom: 0.5rem">
    <b>Vous remerciant par avance du respect des délais et des consignes indiqués ci-dessus,</b>
</p>

<p style="margin-bottom: 0.5rem">
    Bien cordialement,
    <br>
    IAE Paris
</p>