<h1 class="text-4xl">Modifier Alerte</h1>

<%= render 'form', alert: @alert %>

<%= link_to 'Voir', @alert, class: 'text-primary hover:underline' %> |
<%= link_to 'Retour', alerts_path, class: 'text-primary hover:underline' %>
