<h4 class="mt-12">
  Synchronisation du calendrier
</h4>
<p>
  Ajouter le lien ci-dessous à votre calendrier personnel (Google Agenda, Apple Calendar, Outlook, ...) pour que vos cours apparaissent automatiquement.
</p>
<div class="join w-full mb-4">
  <input type="text" class="input input-bordered w-full join-item" value=<%= url %> id="calendar-clipboard">
  <span id="myTooltip" onclick="myFunction()" class="btn join-item" style="cursor: pointer;">
    Copier
  </span>
</div>

<script>
  function myFunction() {
    var copyText = document.getElementById("calendar-clipboard");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    navigator.clipboard.writeText(copyText.value);
    
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copié !";
  }
</script>