<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl flex items-center gap-3">
    <span class="material-symbols-outlined text-3xl">
      today
    </span>
    Modification d'un cours
  </h1>
</div>

<%= render 'form' %>
