<h4 class="text-dark my-4"><%= fa_icon 'calendar-day' %> <%= l(Date.today, format: :long).humanize %></h4>

<% @cours.each do |cour| %>
  <%= render partial: 'ma_session_intervenant', locals: {cour: cour} %>
<% end %>

<br>