<div class="page-header">
	<div class="btn-group pull-right">
	  <%= link_to cours_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retour
	  <% end %>
	</div>
  	<h1>Nouvelle réservation de cours</h1>
</div>

<%= render 'form' %>

