<div class="calendar">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <% date_range.slice(0, 6).each do |day| %>
          <th style="width: 160px;"><%= l(day, format: :short) %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <td>
            <% if @salle %>
              <h3 id=<%= @salle.nom %> style="text-align: center;vertical-align: middle;"><%= @salle.nom %></h3>
            <% else %>
              <span>A RESERVER</span>
            <% end %>
          </td>
          
          <% week.each do |day| %>
            <% unless day.sunday? %>
              <% day_style_class = 'shadow-sm bg-warning' if day == Date.today %>
              <% day_style_class = 'day_off' if Fermeture.find_by(date: day) %>
              
              <%= content_tag :td, class: day_style_class do %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>  
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
