<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'bell' %> Planification des notifications</h2>
</div>
<br>

<table class="table table-bordered table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Envoi prévu le</th>
      <th>Status</th>
      <th>Cible</th>
      <th>Exécuté il y a</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @envoi_logs %>
  </tbody>

  <tfoot>
    <tr>
      <% 10.times do %><th></th><% end %> 
    </tr>
  </tfoot>

</table>

<div class="page_info">
  <%= page_entries_info @envoi_logs, model: 'envoi', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<%= will_paginate @envoi_logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<br>
