<h1>Journal des envois</h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date prévue d'envoi</th>
      <th>Status</th>
      <th>Cible</th>
      <th>Exécuté il y a</th>
      <th>Date exécution</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @envoi_logs %>
  </tbody>
</table>

<div class="page_info">
  <%= page_entries_info @envoi_logs, model: 'envoi', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<%= will_paginate @envoi_logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<br>
