<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  <%= "Un examen pour le <b>#{l @cour.debut, format: :long}</b> vient d'être supprimé".html_safe %>
  <br><br>

  <p>Liste des informations de cet examen supprimé :</p>
  <%= sanitize prettify(@cour.own_and_associated_audits.order(created_at: :desc).first).join('<br>') %>  

  <br><br>
  <%= link_to "Voir la liste des cours", cours_url %>
</p>

