<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  <%= "Un examen vient d'être supprimé pour le <b>#{l @cour.debut, format: :long}</b>".html_safe %>
  <br><br>

  <p>Toutes les informations de cet examen :</p>
  <ul>
    <% @old_cour.attributes.each do |champ, valeur| %>
      <li><strong><%= champ.humanize %> :</strong> <%= valeur || "Non renseigné" %></li>
    <% end %>
  </ul>

  <br><br>
  <%= link_to "Voir la liste des cours", cour_url %>
</p>

