<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  <%= "Un examen pour le <b>#{l @cour.debut, format: :long}</b> vient d'être modifié".html_safe %>
  <br><br>

  <%# Ne fonctionne pas à cause des options des cours qui empêchent de voir le dernier commit %>
  <%# <p>Les informations suivantes ont été modifiées :</p>
  <%# sanitize prettify(@cour.own_and_associated_audits.reorder(id: :desc).first).join('<br>') %>

  <br><br>
  <%= link_to "Voir les détails de l'examen", cour_url(@cour) %>
</p>

