<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  <%= "Un examen vient d'être modifié pour le <b>#{l @cour.debut, format: :long}</b>".html_safe %>
  <br><br>

  <p>Les informations suivantes ont été modifiées :</p>
  <% @cour.own_and_associated_audits.last do |audit| %>
    <%= sanitize prettify(audit).join('<br>') %>
    <% raise %>
  <% end %>


  <br><br>
  <%= link_to "Voir les détails de l'examen", cour_url(@cour) %>
</p>

