<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  <%= "Un examen vient d'être ajouté pour le <b>#{l @cour.debut, format: :long}</b>.".html_safe %>
  <br><br>

  <p>Liste des informations de l'examen créé :</p>
  <%= sanitize prettify(@cour.own_and_associated_audits.last).join('<br>') %>

  <br><br>
  <%= link_to "Voir les détails de l'examen", cour_url(@cour) %>
</p>

