<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="flex items center gap-1 text-3xl">
    <span class="material-symbols-outlined text-3xl">
      work
    </span>
    Nouvelle formation
  </h1>
</div>

<%= render 'form' %>
