<div class="border-b mt-6 mb-2 pb-4">
	<%= link_to salles_path, class: 'text-primary float-right' do %>
		<%= fa_icon 'list-alt' %> Retour
	<% end %>
	<h3 class="text-3xl"><%= fa_icon 'chalkboard' %> Ajouter une salle</h3>
</div>

<%= render 'form' %>

