<div class="page-header">
  	<div class="btn-group pull-right">
	  <%= link_to salles_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retour
	  <% end %>
	</div>
  <h1>Ajout d'une salle</h1>
</div>

<%= render 'form' %>

