<div class="pb-2 mt-4 mb-2 border-bottom">
	<%= link_to salles_path, class: 'btn text-primary float-right' do %>
		<%= fa_icon 'list-alt' %> Retour
	<% end %>
	<h3><%= fa_icon 'chalkboard' %> Ajouter une salle</h3>
</div>

<%= render 'form' %>

