<div class="pb-2 mt-6 mb-2 border-b">
	<%= link_to salles_path, class: 'text-primary float-right' do %>
		<%= fa_icon 'list-alt' %> Retour
	<% end %>
	<h3 class="text-2xl"><%= fa_icon 'chalkboard' %> Ajouter une salle</h3>
</div>

<%= render 'form' %>

