<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "mailer" %>
  </head>

  <body>
    <div id="main-container">
      <div id="container">
        <%= image_tag 'logo_iae@195.png', id: "logo" %>
        <hr>
        <div id="yield" style="font-family: sans-serif;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>