<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "mailer" %>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class="container">
      <%= image_tag 'logo_iae@195.png' %>
      <hr>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
