<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  
    <body style="padding: 10px">
      <%= yield %>
    </body>
</html>
    
