<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
          .center {
            margin-left: 10%;
            margin-right: 10%;
          }
        </style>
    </head>
  
    <body>
      <table class="center">
        <thead >
          <tr>
            <th>
              <%= image_tag '/Images/logo@100.png' %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <table>
                <div style="font-family: sans-serif;">
                  <%= yield %>
                </div>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
</html>
    
