<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  
    <body style="padding: 10px">
      <table style="margin:30px 200px 30px 200px;">
        <thead>
          <tr>
            <th>
              <%= image_tag 'logo@100.png' %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div style="font-family: sans-serif;">
                <%= yield %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
</html>
    
