<h1 class="text-4xl">Editing Invit</h1>

<%= render 'form', invit: @invit %>

<%= link_to 'Show', @invit, class: 'text-primary hover:underline' %> |
<%= link_to 'Back', invits_path, class: 'text-primary hover:underline' %>
